<?xml version="1.0"?>
<config>
    <modules>
        <Kkrieger_SecurityTxt>
            <version>0.1.0</version>
        </Kkrieger_SecurityTxt>
    </modules>
    <global>
        <models>
            <securitytxt>
                <class>Kkrieger_SecurityTxt_Model</class>
                <resourceModel>kkrieger_securitytxt_resource</resourceModel>
            </securitytxt>
            <securitytxt_resource>
                <class>Kkrieger_SecurityTxt_Model_Resource</class>
            </securitytxt_resource>
        </models>
        <helpers>
            <securitytxt>
                <class>Kkrieger_SecurityTxt_Helper</class>
            </securitytxt>
        </helpers>
        <blocks>
            <securitytxt>
                <class>Kkrieger_SecurityTxt_Block</class>
            </securitytxt>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <securitytxt before="Mage_Adminhtml">Kkrieger_SecurityTxt_Adminhtml</securitytxt>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <security>
            <txt>
                <contact></contact>
                <encryption></encryption>
                <acknowledgments></acknowledgments>
                <preferredLanguage></preferredLanguage>
                <canonical></canonical>
                <policy></policy>
                <hiring></hiring>
            </txt>
        </security>
    </default>
</config>